<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Food Tracker</title>
    <link rel="icon" type="image/png" th:href="@{/images/logo-002.png}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/css/form.css}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
</head>

<body class="bg-gra-02">
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a th:href="@{/home}">
                        <em class="menu-icon fa fa-bar-chart"></em>
                        <span th:text="#{highlights.btn}"></span></a>
                </li>
                <li>
                    <a th:href="@{/records}"> <em class="menu-icon fa fa-calendar"></em>
                        <span th:text="#{diary.btn}"></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/meals}"> <em class="menu-icon fa fa-cutlery"></em>
                        <span th:text="#{meals.btn}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="home"><img th:src="@{/images/logo-001.png}" alt="Logo"
                                                         src="/images/logo-001.png"></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <em class="fa fa-user-circle"></em>
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" th:href="@{/profile}"><em class="fa fa -cog"></em>
                            <span th:text="#{profile.btn}"></span>
                        </a>

                        <a class="nav-link" th:href="@{/logout}"><em class="fa fa-power -off"></em>
                            <span th:text="#{logout.btn}"></span>
                        </a>
                    </div>
                </div>
                <div class="lang-block">
                    <a th:href="@{/records(lang='en', date=${date})}">EN</a>
                    <a th:href="@{/records(lang='ru', date=${date})}">RU</a>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <em class="pe-7s-gleam"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span id="energy" class="count"
                                                  th:text="${dailySums.getSumEnergy()}"></span>
                                            <span th:text="#{kcal.field}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{energy.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <em class="pe-7s-graph1"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span id="protein" class="count"
                                                  th:text="${dailySums.getSumProtein()}"></span>
                                            <span th:text="#{weight.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{protein.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <em class="pe-7s-leaf"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span id="carb" class="count"
                                                  th:text="${dailySums.getSumCarbohydrates()}"></span>
                                            <span th:text="#{weight.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{carbohydrate.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <em class="pe-7s-drop"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span id="water" class="count" th:text="${dailySums.getSumWater()}"></span>
                                            <span th:text="#{volume.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{water.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h4 class="box-title">
                                        <span th:text="#{add.meal.label}"></span>
                                    </h4>
                                </div>

                                <form th:action="@{/records/add}" method="POST">
                                    <div class="row">
                                        <label>
                                            <input name="meal_id" id="meal_id" hidden>
                                            <input name="date" hidden th:value="${date}">
                                        </label>
                                        <div class="col-5">
                                            <label class="label">
                                                <input class="input--style-4" th:placeholder="#{start.typing}"
                                                       id="meals_autocomplete">
                                            </label>
                                        </div>
                                        <div class="col-5">
                                            <label class="label">
                                                <input class="input--style-4" id="weight"
                                                       th:placeholder="#{weight.column.label}" name="weight"
                                                       type="number">
                                            </label>
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn float-right"><i class="fa fa-plus"
                                                                                             aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orders">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <h4 class="box-title" id="title">
                                            <span th:text="#{daily.food}"></span>
                                            <span th:text="${date}"></span>
                                        </h4>
                                    </div>
                                    <div class="col-lg-10">
                                        <a
                                                th:href="@{/records(date=${date.minusDays(1)})}" class="btn"><i
                                                class="fa fa-arrow-left"
                                                aria-hidden="true"></i></a>
                                        <a
                                                th:href="@{/records(date=${date.plusDays(1)})}" class="btn"><i
                                                class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th id="name-col">
                                                <span th:text="#{name.label}"></span>
                                            </th>
                                            <th id="protein-col">
                                                <span th:text="#{protein.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="carb-col">
                                                <span th:text="#{carbohydrate.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="fat-col">
                                                <span th:text="#{fat.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="energy-col">
                                                <span th:text="#{energy.label}"></span>
                                                ,
                                                <span th:text="#{kcal.field}"></span>
                                            </th>
                                            <th id="weight-col">
                                                <span th:text="#{weight.column.label}"></span>
                                            </th>
                                            <th id="water-col">
                                                <span th:text="#{water.label}"></span>
                                                ,
                                                <span th:text="#{volume.label}"></span>
                                            </th>
                                            <th id="action-col">
                                                <span th:text="#{action.label}"></span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="record:${records}">
                                            <tr>
                                                <td hidden th:text="${record.getId()}"></td>
                                                <td th:text="${record.getMeal().getName()}"></td>
                                                <td th:text="${record.calculateProtein()}"></td>
                                                <td th:text="${record.calculateCarbohydrate()}"></td>
                                                <td th:text="${record.calculateFat()}"></td>
                                                <td th:text="${record.calculateEnergy()}"></td>
                                                <td th:text="${record.getWeight()}"></td>
                                                <td th:text="${record.calculateWater()}"></td>
                                                <td><a th:href="@{/records/delete(id=${record.id},date=${date})}"
                                                       class="btn float-right"><i
                                                        class="fa fa-minus"
                                                        aria-hidden="true"></i></a>
                                                    <a th:href="@{/records/edit(id=${record.id})}"
                                                       class="btn float-right"><i
                                                            class="fa fa-pencil"
                                                            aria-hidden="true"></i></a>
                                                </td>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-lg-12 text-center">
                    Made by <a href="https://github.com/ihPiontkovskyi/">Ihor Piontkovskyi</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/59810e450d.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(function () {
            $("#meals_autocomplete").autocomplete({
                source: 'byTerm',
                minLength: 3,
                select: function (event, ui) {
                    $("#meals_autocomplete").val(ui.item.label);
                    $("#meal_id").val(ui.item.id);
                    return false;
                }
            });
        });
    });
</script>
</body>
</html>