<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: head"></head>

<body class="bg-gra-02">
<aside th:replace="fragments/general :: aside"></aside>
<div id="right-panel" class="right-panel">
    <header th:replace="fragments/general :: header"></header>
    <div class="content">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title" th:text="#{add.meal.label}">

                    </h2>
                    <form th:action="@{/meals/edit}" method="POST" th:object="${meal}">
                        <div hidden="hidden">
                            <label>
                                <input th:field="*{id}" th:value="${meal.id}"></label>
                            </label>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">
                                        <input class="input--style-4" th:placeholder="#{meal.name}" type="text"
                                               name="first_name" th:field="*{name}" th:value="${meal.name}">
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">
                                        <input class="input--style-4" th:placeholder="#{weight.column.label}"
                                               type="number"
                                               name="weight" th:field="*{weight}" th:value="${meal.weight}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">
                                        <input class="input--style-4"
                                               th:placeholder="#{protein.label}+', '+#{weight.label}" type="number"
                                               name="height" th:field="*{protein}" th:value="${meal.protein}">
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">
                                        <input class="input--style-4"
                                               th:placeholder="#{water.label}+', '+#{volume.label}" type="number"
                                               name="weight" th:field="*{water}" th:value="${meal.water}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">
                                        <input class="input--style-4"
                                               th:placeholder="#{carbohydrate.label}+', '+#{weight.label}" type="number"
                                               name="weight" th:field="*{carbohydrate}" th:value="${meal.carbohydrate}">
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">
                                        <input class="input--style-4" th:placeholder="#{fat.label}+', '+#{weight.label}"
                                               type="number"
                                               name="height" th:field="*{fat}" th:value="${meal.fat}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit" th:text="#{save.btn}">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/general :: footer"></footer>
</div>
</body>
</html>