<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: head"></head>

<body class="bg-gra-02">
<aside th:replace="fragments/general ::aside"></aside>
<div id="right-panel" class="right-panel">
    <header th:replace="fragments/general :: header"></header>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <em class="pe-7s-gleam"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span class="count"
                                                  th:text="${homeModel.getDailySums().getSumEnergy()}"></span>
                                            <span th:text="#{kcal.field}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{energy.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <em class="pe-7s-graph1"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span class="count"
                                                  th:text="${homeModel.getDailySums().getSumProtein()}"></span>
                                            <span th:text="#{weight.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{protein.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <em class="pe-7s-leaf"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span class="count"
                                                  th:text="${homeModel.getDailySums().getSumCarbohydrates()}"></span>
                                            <span th:text="#{weight.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{carbohydrate.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <em class="pe-7s-drop"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span class="count"
                                                  th:text="${homeModel.getDailySums().getSumWater()}"></span>
                                            <span th:text="#{volume.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{water.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">
                                <span th:text="#{last.week.label}"></span>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <div id="traffic-chart" class="traffic-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">
                                <span th:text="#{daily.goal.label}"></span>
                            </h4>
                            <div class="card-body">
                                <div class="progress-box progress-1">
                                    <h4 class="por-title">
                                        <span th:text="#{energy.label}"></span>
                                    </h4>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="bg-flat-color-1"
                                             th:style="|width: ${homeModel.getDailyGoal().getDailyEnergyGoal()}%|"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">
                                        <span th:text="#{water.label}"></span>
                                    </h4>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="bg-flat-color-2"
                                             th:style="|width: ${homeModel.getDailyGoal().getDailyWaterGoal()}%|"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">
                                        <span th:text="#{carbohydrate.label}"></span>
                                    </h4>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="bg-flat-color-3"
                                             th:style="|width: ${homeModel.getDailyGoal().getDailyCarbohydratesGoal()}%|"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">
                                        <span th:text="#{protein.label}"></span>
                                    </h4>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="bg-flat-color-4"
                                             th:style="|width: ${homeModel.getDailyGoal().getDailyProteinGoal()}%|"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="progress-box progress-2">
                                    <h4 class="por-title">
                                        <span th:text="#{fat.label}"></span>
                                    </h4>
                                    <div class="progress mb-2" style="height: 5px;">
                                        <div class="yellow-color"
                                             th:style="|width: ${homeModel.getDailyGoal().getDailyFatGoal()}%|"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/general :: footer"></footer>
</div>

<script th:inline="javascript">
    jQuery(document).ready(function ($) {
        if ($('#traffic-chart').length) {
            let labels = [[${homeModel.getLabels()}]];
            let protein = [[${homeModel.getWeeklyProteinStat()}]];
            let carb = [[${homeModel.getWeeklyCarbohydrateStat()}]];
            let energy = [[${homeModel.getWeeklyEnergyStat()}]];
            let water = [[${homeModel.getWeeklyWaterStat()}]];
            let fat = [[${homeModel.getWeeklyFatStat()}]];
            let chart = new Chartist.Line('#traffic-chart', {
                labels: labels,
                series: [
                    energy,
                    water,
                    carb,
                    fat,
                    protein
                ]
            }, {
                low: 0,
                showArea: true,
                showLine: true,
                showPoint: false,
                fullWidth: true,
                axisX: {
                    showGrid: true
                }
            });
            chart.on('draw', function (data) {
                if (data.type === 'line' || data.type === 'area') {
                    data.element.animate({
                        d: {
                            begin: 2000 * data.index,
                            dur: 2000,
                            from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                            to: data.path.clone().stringify(),
                            easing: Chartist.Svg.Easing.easeOutQuint
                        }
                    });
                }
            });
        }
    });
</script>
</body>
</html>