<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general ::head"></head>
<body>
<div class="limiter">
    <div class="lang-block-login">
        <a href="?lang=en">EN</a>
        <a href="?lang=ru">RU</a>
    </div>
    <div class="container-login  bg-gra-02">
        <div class="wrap-login">
            <form class="login-form" th:action="@{/login}" method="post">
					<span class="login-form-title" th:text="#{account.login.field}">
					</span>

                <div class="wrap-input rs1-wrap-input">
                    <label>
                        <input class="input" type="text" name="email"
                               th:placeholder="#{username.field}" required>
                    </label>
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input rs2-wrap-input">
                    <label>
                        <input class="input" type="password" name="pass"
                               th:placeholder="#{password.field}" required>
                    </label>
                    <span class="focus-input"></span>
                </div>

                <div class="container-login-form-btn">
                    <button class="login-form-btn" type="submit" th:text="#{login.btn}">
                    </button>
                </div>
                <div class="w-full text-center forgot-block">
                    <a class="txt2"></a>
                </div>
                <div class="w-full text-center">
                    <a th:href="@{/register}" class="txt3" th:text="#{sign.up.btn}">
                    </a>
                </div>
            </form>
            <th:block th:with="condition=#{lang}=='??lang_ru??'">
                <div th:if="${condition}" class="login-more"
                     style="background-image:url(/images/bg-001-ru.jpg);">
                </div>
                <div th:unless="${condition}" class="login-more"
                     style="background-image:url(/images/bg-001.jpg);">
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>