<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: head"></head>

<body class="bg-gra-02">
<aside th:replace="fragments/general :: aside"></aside>
<div id="right-panel" class="right-panel">
    <header th:replace="fragments/general :: header"></header>
    <div class="content">
        <div class="animated fadeIn">
            <div class="orders">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <h4 class="box-title">Meal</h4>

                                        <div th:if="${totalPages > 0}" class="inline"
                                             th:each="pageNumber : ${pageNumbers}">
                                            <a th:href="@{/meals(page=${pageNumber+1})}"
                                               th:text="${pageNumber+1}"
                                               th:class="${pageNumber+1==page} ? active"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <a th:href="@{/meals/add}" class="btn float-right"><i class="fa fa-plus"
                                                                                              aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th id="name-col">
                                                <span th:text="#{name.label}"></span>
                                            </th>
                                            <th id="protein-col">
                                                <span th:text="#{protein.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="carb-col">
                                                <span th:text="#{carbohydrate.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="fat-col">
                                                <span th:text="#{fat.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="energy-col">
                                                <span th:text="#{energy.label}"></span>
                                                ,
                                                <span th:text="#{kcal.field}"></span>
                                            </th>
                                            <th id="weight-col">
                                                <span th:text="#{weight.column.label}"></span>
                                            </th>
                                            <th id="water-col">
                                                <span th:text="#{water.label}"></span>
                                                ,
                                                <span th:text="#{volume.label}"></span>
                                            </th>
                                            <th id="action-col">
                                                <span th:text="#{action.label}"></span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="meal:${meals}">
                                            <tr>
                                                <td hidden th:text="${meal.getId()}"></td>
                                                <td th:text="${meal.getName()}"></td>
                                                <td th:text="${meal.getProtein()}"></td>
                                                <td th:text="${meal.getCarbohydrate()}"></td>
                                                <td th:text="${meal.getFat()}"></td>
                                                <td th:text="${meal.calculateEnergy()}"></td>
                                                <td th:text="${meal.getWeight()}"></td>
                                                <td th:text="${meal.getWater()}"></td>
                                                <div th:with="isAccessed=${user.getRole().name() == 'ADMIN' || meal.getUser()!=null && meal.getUser().getId().equals(user.getId())}">
                                                    <th:block th:if="${isAccessed}">
                                                        <td>
                                                            <a th:href="@{/meals/delete(id=${meal.getId()},page=${page+1})}"
                                                               class="btn float-right"><i
                                                                    class="fa fa-minus"
                                                                    aria-hidden="true"></i></a>
                                                            <a th:href="@{/meals/edit(id=${meal.getId()})}"
                                                               class="btn float-right"><i
                                                                    class="fa fa-pencil"
                                                                    aria-hidden="true"></i></a>
                                                        </td>
                                                    </th:block>
                                                    <th:block th:unless="${isAccessed}">
                                                        <td>
                                                            <span th:text="#{access.action}"></span>
                                                        </td>
                                                    </th:block>
                                                </div>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/general :: footer"></footer>
</div>
</body>
</html>