<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/general :: head"></head>

<body class="bg-gra-02">
<aside th:replace="fragments/general :: aside"></aside>
<div id="right-panel" class="right-panel">
    <header th:replace="fragments/general :: header"></header>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <em class="pe-7s-gleam"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span id="energy" class="count"
                                                  th:text="${dailySums.getSumEnergy()}"></span>
                                            <span th:text="#{kcal.field}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{energy.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <em class="pe-7s-graph1"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span id="protein" class="count"
                                                  th:text="${dailySums.getSumProtein()}"></span>
                                            <span th:text="#{weight.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{protein.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <em class="pe-7s-leaf"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span id="carb" class="count"
                                                  th:text="${dailySums.getSumCarbohydrates()}"></span>
                                            <span th:text="#{weight.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{carbohydrate.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <em class="pe-7s-drop"></em>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">
                                            <span id="water" class="count" th:text="${dailySums.getSumWater()}"></span>
                                            <span th:text="#{volume.label}"></span>
                                        </div>
                                        <div class="stat-heading">
                                            <span th:text="#{water.label}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h4 class="box-title">
                                        <span th:text="#{add.meal.label}"></span>
                                    </h4>
                                </div>

                                <form th:action="@{/records/add}" method="POST">
                                    <div class="row">
                                        <label>
                                            <input name="meal_id" id="meal_id" hidden>
                                            <input name="date" hidden th:value="${date}">
                                        </label>
                                        <div class="col-5">
                                            <label class="label">
                                                <input class="input--style-4" th:placeholder="#{start.typing}"
                                                       id="meals_autocomplete">
                                            </label>
                                        </div>
                                        <div class="col-5">
                                            <label class="label">
                                                <input class="input--style-4" id="weight"
                                                       th:placeholder="#{weight.column.label}" name="weight"
                                                       type="number">
                                            </label>
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn float-right"><i class="fa fa-plus"
                                                                                             aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orders">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <h4 class="box-title" id="title">
                                            <span th:text="#{daily.food}"></span>
                                            <span th:text="${date}"></span>
                                        </h4>
                                    </div>
                                    <th:block th:if="${exceedingTheGoal == true}">
                                        <div class="col-lg-5">
                                            <h4 class="box-title" style="color:red">
                                                <span th:text="#{exceeding.message}"></span>
                                                <span th:text="${exceedingValue}"></span>
                                                <span th:text="#{kcal.field}"></span>
                                            </h4>
                                        </div>
                                    </th:block>
                                    <div class="col-lg-10">
                                        <a
                                                th:href="@{/records(date=${date.minusDays(1)})}" class="btn"><i
                                                class="fa fa-arrow-left"
                                                aria-hidden="true"></i></a>
                                        <a
                                                th:href="@{/records(date=${date.plusDays(1)})}" class="btn"><i
                                                class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th id="name-col">
                                                <span th:text="#{name.label}"></span>
                                            </th>
                                            <th id="protein-col">
                                                <span th:text="#{protein.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="carb-col">
                                                <span th:text="#{carbohydrate.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="fat-col">
                                                <span th:text="#{fat.label}"></span>
                                                ,
                                                <span th:text="#{weight.label}"></span>
                                            </th>
                                            <th id="energy-col">
                                                <span th:text="#{energy.label}"></span>
                                                ,
                                                <span th:text="#{kcal.field}"></span>
                                            </th>
                                            <th id="weight-col">
                                                <span th:text="#{weight.column.label}"></span>
                                            </th>
                                            <th id="water-col">
                                                <span th:text="#{water.label}"></span>
                                                ,
                                                <span th:text="#{volume.label}"></span>
                                            </th>
                                            <th id="action-col">
                                                <span th:text="#{action.label}"></span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="record:${records}">
                                            <tr>
                                                <td hidden th:text="${record.getId()}"></td>
                                                <td th:text="${record.getMeal().getName()}"></td>
                                                <td th:text="${record.calculateProtein()}"></td>
                                                <td th:text="${record.calculateCarbohydrate()}"></td>
                                                <td th:text="${record.calculateFat()}"></td>
                                                <td th:text="${record.calculateEnergy()}"></td>
                                                <td th:text="${record.getWeight()}"></td>
                                                <td th:text="${record.calculateWater()}"></td>
                                                <td><a th:href="@{/records/delete(id=${record.id},date=${date})}"
                                                       class="btn float-right"><i
                                                        class="fa fa-minus"
                                                        aria-hidden="true"></i></a>
                                                    <a th:href="@{/records/edit(id=${record.id})}"
                                                       class="btn float-right"><i
                                                            class="fa fa-pencil"
                                                            aria-hidden="true"></i></a>
                                                </td>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/general :: footer"></footer>
</div>
<script>
    jQuery(document).ready(function ($) {
        $(function () {
            $("#meals_autocomplete").autocomplete({
                source: 'by-term',
                minLength: 3,
                select: function (event, ui) {
                    $("#meals_autocomplete").val(ui.item.label);
                    $("#meal_id").val(ui.item.id);
                    return false;
                }
            });
        });
    });
</script>
</body>
</html>